@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*{
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body{
  display: flex;
  width: 100vw;
  max-width: 1650px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  scroll-behavior: smooth;
  background-image: url('./assets/img/bg-pattern.jpg');
  background-repeat: repeat;
  background-size: 250px 250px;
  padding-right: 150px;
  padding-left: 150px;
  color: white;
  background-attachment: fixed;
}

/* NAVBAR STYLES */
header{
  z-index: 100;
  width: 100vw;
  max-width: 1700px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  right: 0;
  left: 0;
  padding-right: 150px;
  padding-left: 150px;
  /* margin-left: -150px; */
  width: 100%;
}

.nav-transparent{
  background-color: transparent;
}
.nav-dark{
  background-color: black;
}
.navbar{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.down{
  display: none;
}

.navlinks{
  list-style: none;
  display: flex;
}
a{
  text-decoration: none;
}
.navlinks a, .navlogin{
  color: white;
  margin-right: 10px;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.navlinks a:hover{
  color:#F4CE14;
}
.navlogin:hover{
  font-weight: 600;
  color: #00ff00;
}

nav .navlogin{
  color: #4DA94D;
  margin-right: 0;
  cursor: pointer;
}

button{
  font-family: poppins, sans-serif;
  cursor: pointer;
  border: none;
  width: 180px;
  height: 50px;
  background-color: #F4CE14;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}
button:hover{
  background-color: #495E57;
  color: white;
}

/* HERO STYLES */
.hero-section{
  display: flex;
  /* flex-shrink: 1; */
  /* height: 100vh; */
  background-image: url(./assets/img/bg-header.png);
  background-attachment: fixed;
  background-size: cover;
}

.hero-section, .about-section{
  margin-left: -150px;
  margin-right: -150px;
}


.hero-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  font-family: poppins, sans-serif;
  padding-bottom: 80px;
}
.heading{
  padding-top: 115px;
  color: #F4CE14;
  margin: 0;
  font-size: 84px;
  font-weight: 700;
}
.sub-heading{
  line-height: 50%;
  margin: 0;
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 80px;
}
.heading-text{
  font-size: 24px;
  max-width: 40%;
  margin-bottom: 115px;
}

/* SPECIALS STYLES */
.specials-section{
  background-color: black;
  margin-left: -150px;
  margin-right: -150px;
}
.specials-content{
  padding-top: 80px;
  padding-bottom: 130px;
  margin-left: 150px;
  margin-right: 150px;
}
.specials-heading{
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  /* align-items: top; */
}
.specials-heading h3{
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-size: 30px;
}
.card-container{
  padding: 0;
  display: flex;
  justify-content: space-between;
}

/* SPECIALS CARD STYLES */
.card{
  position: relative;
  height: 450px;
  max-width: 300px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
}
.cardImg-bx{
  height: 50%;
  /* border: 2px solid white; */
}
.cardImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-details{
  padding: 10px 25px;
}
.card-heading{
  display: flex;
  justify-content: space-between;
}
.card-heading h4{
  font-family: poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.price{
  color: #F4CE14;
}
.card-body{
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
}
.meal-order{
  position: absolute;
  bottom: 10px;
}
.meal-order > p{
  font-family: poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #F4CE14;
  cursor: pointer;
}
.meal-order > p:hover{
  color: yellow;
}

/* TESTIMONIALS SECTION */
.testimonials-section{
  /* height: 100vh; */
}

/* ABOUT SECTION */
.about-section{
  background-color: rgb(27, 26, 26);
  height: 100vh;
  padding-right: 150px;
  padding-left: 150px;
  /* position: relative; */
  padding-top: 80px;
}

.about-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  flex-direction: column;
}
.about-text{
  /* max-width: 545px; */
  margin-right: 20px;
}
.aboutimg-container{
  width: 50%;
  display: flex;
  flex: 1;
  /* max-width: 545px; */
}
.about-heading{
  color: #F4CE14;
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 50px;
}
.about-subhead{
  color: white;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}
.about-body{
  font-size: 18px;
  font-weight: 400;
  color: silver;
  margin-bottom: 50px;
  /* margin-bottom: 115px; */
}
.aboutimg-container{
  border-radius: 10px;
  overflow: hidden;
}
@media(min-width: 768px){
  .about-content{
    margin-bottom: 80px;
  }
}
@media(min-width: 680px){
  .about-content{
    flex-direction: row;
    align-items: center;
  }
  .about-text{
    max-width: 50%;
    margin-right: 24px;
    /* border: 1px solid white; */
  }
  .aboutimg-container{
    max-width: 50%;
    /* border: 1px solid white; */
  }
}
@media(min-width: 1200px){
  .about-body{
    max-width: 550px;
  }
}

/* LOGIN COMPONENT */
.login-dialog{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
/* add a minimum width to the below style */
.login-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  backdrop-filter: blur(5px);
  border: 1px solid silver;
  padding-left: 20px;
  padding-right: 40px;
  border-radius: 36px;
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close-button{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Mobile Device login */
/* @media(max-width: 480px){
  .login-dialog{
    padding: 20px;
  }
  .login-container{
    position: absolute;
    background-color: white;
  }
} */

.form-container{
  background-color: #1b1b1b;
  font-family: poppins, sans-serif;
  color: white;
  width: auto;
  height: auto;
  padding: 35px;
  border-radius: 20px;
  display: flex;
  height: 420px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.login-text{
  margin-bottom: 10px;;
}
.login-form{
  display: flex;
  flex-flow: column;
}
.login-input, .form-button{
  padding: 5px;
  color: black;
  font-family: poppins;
  border: none;
  margin-bottom: 15px;
  width: 250px;
  height: 40px;
  border-radius: 8px;
}

.google-icon{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20px;
}
.signup-text{
  font-weight: 500;
}
.forgetpwd-bx{
  cursor: pointer;
  margin-top: -15px;
  margin-bottom: 15px;
  color: whitesmoke;
  font-size: 11px;
  display: flex;
  justify-content: end;
}
.forgetpwd-bx:hover{
  color: white;
  font-weight: 500;
}
.signup{
  cursor: pointer;
  font-weight: 500;
  color: #16c516;
}
.signup:hover{
  color: #F4CE14;
  font-weight: 700;
}
.form-button:hover{
  background-color: #495E57;
  color: white;
}

/* FEEDBACK CARD STYLES */
.fb-card{
  padding: 10px 20px 20px 20px;
  color: white;
  font-family: poppins, sans-serif;
  width: 380px;
  background-color: black;
  border-radius: 10px;
  margin-bottom: 50px;
}
.fb-card:not(:last-child){
  margin-right: 25px;
}

.fb-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fb-persona{
  display: flex;
  justify-content: start;
  align-items: center;
}
.fb-text{
  line-height: 1.3;
  height: 80px;
  display: flex;
  overflow: hidden;
  align-items: center;
  font-size: 15px;
  margin-bottom: 25px;
}
.fb-date{
  font-size: 15px;
}
.fb-imgbx{
  height: 48px;
  width: 48px;
  border-radius: 100%;
  margin-right: 12px;
}
.fbname{
  font-weight: 700;
}

/* TESTIMONIALS SECTION */
.testimonials-section{
  padding-top: 80px;
  padding-bottom: 150px;
  padding-right: 0;
}

.testimonials-section h2{
  color:#F4CE14;
  display: flex;
  font-size: 42px;
  font-family: poppins, sans-serif;
  justify-content: center;
  margin-bottom: 150px;
}
.fbcards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media(max-width: 1400px){
  .fbcards-container{
    justify-content: center;
  }
  .fb-card:nth-child(2){
    margin-right: 0;
  }
}
@media(max-width: 960px){
  .fb-card:nth-child(2){
    margin-right: 25px;
  }
}
@media(max-width: 918px){
  .fb-card:not(:last-child){
    margin-right: 0;
  }
}
/* PROMOTION SECTION */
.promotion-section{
  height: 420px;
  background-image: url(./assets/img/pizza-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin-right: -150px;
  margin-left: -150px;
  padding: 40px 150px;
  display: flex;
  align-items: center;
}
.promo-details h2{
  font-weight: 500;
  font-family: poppins, sans-serif;
  font-size: 46px;
  margin-bottom: 40px;
}
.discount{
  color: #F4CE14;
}
.exclam{
  color: red;
}

/* RESERVATION SECTION */
.reservations{
  padding-top: 80px;
  margin-bottom: 150px;
}
.reservations h2{
  color:#F4CE14;
  display: flex;
  font-size: 42px;
  font-family: poppins, sans-serif;
  justify-content: center;
  margin-bottom: 100px;
}
.rsrv-container{
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.rsrv-form{
  border: 1px solid green;
  padding: auto;
  width: 50%;
  max-width: 545px;
  min-width: 500px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.rsvform-container{
  border: 2px solid white;
}
.rsrv-button{
  border: 2px solid white;
  /* margin-top: 40px; */
}
.rsv-input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  /* border: 1px solid red; */
}
.rsv-input label{
  font-family: poppins, sans-serif;
  font-size: 1.2em;
  margin-right: 30px;
}
.rsrv-form select, .rsrv-form input{
  /* display: flex; */
  /* margin-bottom: 20px; */
  color: white;
  padding: 10px;
  font-family: poppins;
  border: none;
  font-size: 1rem;
  width: 300px;
  min-width: 250px;
  height: 55px;
  border-radius: 10px;
  background-color: black;
}

option{
  background-color: black;
  margin: 20px;
  color: white;
}
.open-details{
  flex: 1;
  /* height: 100%; */
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 50px 35px;
  border-radius: 10px;
  min-width: 400px;
  max-width: 545px;
  /* margin-left: 50px; */
}
.open-head{
  font-family: poppins, sans-serif;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 20px;
}
.open-text{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}
.open-days{
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}
.day, .time{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

@media(max-width: 1079px){
  .rsrv-container{
    justify-content: center;
  }
  .rsrv-form{
    max-width: 700px;
    flex: 1;
  }
  .open-details{
    margin-top: 50px;;
  }
}
@media(max-width: 1059px){
  .rsrv-form{
    margin-right: 0;
  }
}

/* FOOTER STYLES */
.footer-content{
  border: 1px solid white;
  width: 100%;
  display: flex;
  padding: 40px 0;
  /* padding-bottom: 40px;
  padding-top: 40px; */
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-imgbx{
  border: 1px solid white;
  margin: 0;
  margin-top: 24px;
  width: 140px;
  height: 270px;
}
.footer-img{
  width: 100%;
}

.footerlink-container{
  margin-left: 0;
  border: 1px solid white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footerlink-bx{
  /* margin-top: 24px; */
  border: 2px solid blue;
  margin-bottom: 24px;
}
.footlink-head{
  color: #F4CE14;
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 24px;
}
.footlink-body{
  border: 2px solid red;
}
.footlink-text{
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 24px;
}

@media(min-width: 1200px){
  .footer-imgbx{
    margin-left: 0;
  }
  .footerlink-container{
    margin-top: 0px;
  }
  .footer-text{
    margin-right: 32px;
  }
}


/* MEDIA QUERIES */
@media(max-width: 1650px){
  .hero-section{
    height: min(100vh, 900px);
  }
}
@media(max-width: 1440px){
  body, header{
    padding-right: 120px;
    padding-left: 120px;
  }
  .hero-section{
    height: min(100vh, 800px);
  }
  .about-section, .promotion-section, .hero-section, .specials-section{
    margin-left: -120px;
    margin-right: -120px;
  }
  .hero-content, .specials-content{
    margin-left: 120px;
    margin-right: 120px;
  }
  .promotion-section{
    padding: 40px 120px;
  }
}
@media(max-width: 1200px){
  body, header{
    padding-right: 80px;
    padding-left: 80px;
  }
  .about-section, .promotion-section, .hero-section, .specials-section{
    margin-left: -80px;
    margin-right: -80px;
  }
  .hero-content, .specials-content{
    margin-left: 80px;
    margin-right: 80px;
  }
  .promotion-section{
    padding: 40px 80px;
  }
}