@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*{
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
}

body{
  scroll-behavior: smooth;
  background-image: url('./assets/img/bg-pattern.jpg');
  background-repeat: repeat;
  background-size: 250px 250px;
  margin-right: 150px;
  margin-left: 150px;
  color: white;
  background-attachment: fixed;
}

/* NAVBAR STYLES */
.navbar{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-transparent{
  background-color: transparent;
}
.nav-dark{
  background-color: dark;
}

.navlinks{
  list-style: none;
  display: flex;
}
a{
  text-decoration: none;
}
.navlinks a, .navlogin{
  color: white;
  margin-right: 10px;
  font-family: poppins, sans-serif;
  font-weight: 600;
  font-size: 18px;
}

nav .navlogin{
  color: #4DA94D;
  margin-right: 0;
  cursor: pointer;
}

button{
  font-family: poppins, sans-serif;
  cursor: pointer;
  border: none;
  width: 180px;
  height: 50px;
  background-color: #F4CE14;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 500;
}

/* HERO STYLES */
.hero-section{
  background-image: url(./assets/img/bg-header.png);
  background-attachment: fixed;
  background-size: cover;
  /* height: 100vh; */
  margin-left: -150px;
  margin-right: -150px;
}

.hero-content{
  margin-left: 150px;
  font-family: poppins, sans-serif;
  padding-bottom: 80px;
}
.heading{
  padding-top: 115px;
  color: #F4CE14;
  margin: 0;
  font-size: 84px;
  font-weight: 700;
}
.sub-heading{
  line-height: 50%;
  margin: 0;
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 80px;
}
.heading-text{
  font-size: 24px;
  max-width: 40%;
  margin-bottom: 115px;
}

/* SPECIALS STYLES */
.specials-section{
  background-color: black;
  margin-left: -150px;
  margin-right: -150px;
}
.specials-content{
  padding-top: 80px;
  padding-bottom: 130px;
  margin-left: 150px;
  margin-right: 150px;
}
.specials-heading{
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  /* align-items: top; */
}
.specials-heading h3{
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-size: 30px;
}
.card-container{
  padding: 0;
  display: flex;
  justify-content: space-between;
}

/* SPECIALS CARD STYLES */
.card{
  position: relative;
  height: 450px;
  max-width: 300px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
}
.cardImg-bx{
  height: 50%;
  /* border: 2px solid white; */
}
.cardImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-details{
  padding: 10px 25px;
}
.card-heading{
  display: flex;
  justify-content: space-between;
}
.card-heading h4{
  font-family: poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.price{
  color: #F4CE14;
}
.card-body{
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
}
.meal-order{
  position: absolute;
  bottom: 10px;
}
.meal-order > p{
  font-family: poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #F4CE14;
  cursor: pointer;
}

/* TESTIMONIALS SECTION */
.testimonials-section{
  height: 100vh;
}

/* ABOUT SECTION */
.about-section{
  height: 100vh;
  position: relative;
  margin-left: -150px;
  margin-right: -150px;
}

.about-section::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('./assets/img/Mario\ and\ Adrian\ b.jpg');
  background-size: 100vw auto;
  filter: brightness(0.4);
  background-position: center bottom;
  height: 100vh;
}

.about-content{
  margin-left: 150px;
  font-family: poppins, sans-serif;
  /* padding-bottom: 80px; */
}
.about-heading{
  padding-top: 115px;
  color: white;
  margin: 0;
  font-size: 74px;
  font-weight: 700;
}
.about-subhead{
  color: silver;
  line-height: 50%;
  margin: 0;
  font-size: 46px;
  font-weight: 400;
  margin-bottom: 80px;
}
.about-text{
  font-size: 21px;
  max-width: 40%;
  margin-bottom: 115px;
}

/* FOOTER STYLES */
.footer-content{
  width: 100%;
  display: flex;
  padding-bottom: 40px;
  padding-top: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-imgbx{
  margin-top: 24px;
  margin-left: 1.5rem;
  width: 140px;
  height: 270px;
}
.footer-img{
  width: 100%;
}


.footerlink-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footerlink-bx{
  /* margin-top: 24px; */
  margin-bottom: 24px;
  margin-left: 24px;
}
.footlink-head{
  color: #F4CE14;
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 24px;
}
.footlink-text{
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 24px;
}

@media(min-width: 1200px){
  .footer-imgbx{
    margin-left: 0px;
  }
  .footerlink-container{
    width: 70%;
    margin-top: 0px;
  }
  .footer-text{
    margin-right: 32px;
  }
}
@media(min-width: 1700px){
  .footerlink-container{
    width: 60%;
  }
}

/* LOGIN COMPONENT */
.login-dialog{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
/* add a minimum width to the below style */
.login-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  backdrop-filter: blur(5px);
  border: 1px solid silver;
  padding-left: 20px;
  padding-right: 40px;
  border-radius: 36px;
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close-button{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Mobile Device login */
/* @media(max-width: 480px){
  .login-dialog{
    padding: 20px;
  }
  .login-container{
    position: absolute;
    background-color: white;
  }
} */

.form-container{
  background-color: #1b1b1b;
  font-family: poppins, sans-serif;
  color: white;
  width: auto;
  height: auto;
  padding: 35px;
  border-radius: 20px;
  display: flex;
  height: 420px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.login-text{
  margin-bottom: 10px;;
}
.login-form{
  display: flex;
  flex-flow: column;
}
.login-input, .form-button{
  padding: 5px;
  color: black;
  font-family: poppins;
  border: none;
  margin-bottom: 15px;
  width: 250px;
  height: 40px;
  border-radius: 8px;
}

.google-icon{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20px;
}
.signup-text{
  font-weight: 500;
}
.forgetpwd-bx{
  cursor: pointer;
  margin-top: -15px;
  margin-bottom: 15px;
  color: whitesmoke;
  font-size: 11px;
  display: flex;
  justify-content: end;
}
.forgetpwd-bx:hover{
  color: white;
  font-weight: 500;
}
.signup{
  cursor: pointer;
  font-weight: 500;
  color: green;
}
.signup:hover{
  color: #F4CE14;
  font-weight: 700;
}
.form-button:hover{
  background-color: #495E57;
  color: white;
}